.container {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    /*height: 250px;*/
    min-height: 270px;
}

.formStyle {
    margin: auto 15%;
    text-align: center;
    /*padding-top: 20px;*/
}

.loginButton {
    width: 70%;
}

