.container {
    /*background-color: #ddd;*/
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 80%;
    top:0;
    height: 100%;
    left: 15%;
}
